body{
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow:hidden;
    }

/*hide checkbox*/
input{position:fixed; left:-100px; top:-100px;} /* 드론 그릇  위 치  -는 숨겨짐 */

h1{margin:0; text-align:center;
position:fixed; /*left:450px; top:750px;*/
}



.wrapper{ 
  z-index: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  min-height: 25rem;
  background-image:url("./img/소창성.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  cursor:crosshair;
     }

/*파괴된 드론수 표시 레이아웃*/

#sum{position:fixed; left:45%; top:100px; font-size:24px; fonot-weight:bold;}
#sumdown{position:fixed; left:45%; top:130px; font-size:24px; fonot-weight:bold;}

.input-container ~ .bee, .input-container ~ .beea, .input-container ~ .beeb {
  opacity:1;      /* container 0 숨기기 1 나타내기 */
  transition: 0.3s;  /* cubic-bezier(0,.43,1,0); /*captured 포시 */
  
}


.input-container1:not(:checked) ~ .bee01,
.input-container2:not(:checked) ~ .bee02,
.input-container3:not(:checked) ~ .bee03,
.input-container4:not(:checked) ~ .bee04,
.input-container5:not(:checked) ~ .bee05,
.input-container6:not(:checked) ~ .beea01,
.input-container7:not(:checked) ~ .beea02,
.input-container8:not(:checked) ~ .beeb01,
.input-container9:not(:checked) ~ .beeb02,
.input-container10:not(:checked) ~ .beeb03
{
  animation: move 5s infinite alternate; /* 드론 에니에이션 */
  opacity:1; 
}


.bee, .beea, .beeb{
 position:absolute;
  left:0;  
  cursor: -webkit-grab; cursor: grab; /* 커서 손모양 표시 */
 } 

.bee>span, .beea>span, .beeb>span{
  display:none;position:absolute; z-index:2; left:-250%;bottom:-50%;  
  background-color:white; border:solid 2px #000; width:80px; height:30px; padding:10px; border-radius:50%;
}
.bee>span:after, .beea>span:after, .beeb>span:after{
  content:"Pung"; color:red; font-weight:bold;
  }



.bee01{
  -webkit-animation-delay: 12s!important;
  -webkit-transform:scale(0.9);
  animation-delay: 12s!important;
  transform:scale(0.9);
}
.bee02{
  -webkit-animation-delay: 4s!important;
  -webkit-transform:scale(1.5);
  animation-delay: 4s!important;
  transform:scale(1.5); 
}
.bee03{
  -webkit-animation-delay: 3s!important;
  -webkit-transform:scale(1.4)
  animation-delay: 3s!important;
  transform:scale(1.4); 
}
.bee04{
  -webkit-animation-delay: 10s!important;
  -webkit-transform:scale(0.9)
  animation-delay: 10s!important;
  transform:scale(0.9);
}
.bee05{
  -webkit-animation-delay: 12s!important;
  -webkit-transform:scale(1.0);
  animation-delay: 12s!important;
  transform:scale(1.0);
}
.beea01{
  -webkit-animation-delay: 15s!important;
  -webkit-transform:scale(0.8);
  animation-delay: 15s!important;
  transform:scale(0.8);
}
.beea02{
  -webkit-animation-delay: 8s!important;
  -webkit-transform:scale(1.0);
  animation-delay: 8s!important;
  transform:scale(1.0);
}
.beeb01{
  -webkit-animation-delay: -2s!important;
  -webkit-transform:scale(1.0);
  animation-delay: -2s!important;
  transform:scale(1.0);
}
.beeb02{
  -webkit-animation-delay: 5s!important;
  -webkit-transform:scale(1.0);
  animation-delay: 5s!important;
  transform:scale(1.0);
}
.beeb03{
  -webkit-animation-delay: -5s!important;
  -webkit-transform:scale(1.0)
  animation-delay: -5s!important;
  transform:scale(1.0);
}


 /* 움직이게 함 */
@-webkit-keyframes move{
0%{left:0%;}
20%{left:-30%;top:60%; }
40%{top:-40%; left:170%;}
60%{top:30%;left:190%;}
80%{top:30%; left:-50%:}
100%{top:-50%; left:-10%; }
}

@keyframes move{
0%{left:0%;}
20%{left:-30%;top:60%; }
40%{top:-40%; left:170%;}
60%{top:30%;left:190%;}
80%{top:30%; left:-50%:}
100%{top:-50%; left:-10%; }
}


.gameover{
  position:fixed; z-index:100000; left:0; top:0; /*bottom:0;*/ right:0; background-color:rgba(0,0,0,0.2);
  
  -webkit-animation:gameover 30s linear forwards; /* 게임시간 */
  animation:gameover 30s linear forwards; /* 게임시간 */
  font-size:80px; color:white; font-weight:bold; text-align:center; 
  text-indent:0;  
  line-height:650px;
}

@-webkit-keyframes gameover{
0%{left:-5000px;bottom:100%;}
97%{left:-5000px;bottom:100%;}
100%{ left:0px;bottom:30%;}
}

@keyframes gameover{
0%{left:-5000px;bottom:100%;}
97%{left:-5000px;bottom:100%;}
100%{ left:0px;bottom:35%;}
}


.bee{
  background-image: url("./img/dron3.png");
  background-size: auto 100%;   /*auto 100%; /* 드론크기 */
  background-repeat: no-repeat;
  margin-top:200px; margin-left:-100px; /* 날아다니는 위치 조정(안보이게 화면 밖으로 위치(-) 조정) */
  width: 100px; height: 100px; /* 드론 담는 그룻 크기 */
  /* animation: mov 0.8s linear infinite;*/
  z-index:999;
}
.beea{
  background-image: url("./img/dron3.png");
  background-size: auto 100%;   /*auto 100%; /* 드론크기 */
  background-repeat: no-repeat;
  margin-top:100px; margin-left:-50px; /* 날아다니는 위치 조정 (안보이게 화면 밖으로 위치(-) 조정)*/
  width: 80px; height: 80px; /* 드론담는 크기 */
  z-index:999;
}

.beeb{
  background-image: url("./img/dron3.png");
  background-size: auto 100%;   /*auto 100%; /* 드론크기 */
  background-repeat: no-repeat;
  margin-top:100px; margin-left:-50px; /* 날아다니는 위치 조정(안보이게 화면 밖으로 위치(-) 조정) */
  width: 50px; height: 50px; /* 드론담는 크기 */
  z-index:999;
}

.butterfly{
  background-image: url("./img/bee1.gif");
  background-size: auto 100%; /* 나비크기 */
  width: 100px;
  height: 90px;
  will-change: background-position;
  -webkit-animation-name: fly-cycles;
          animation-name: fly-cycles;
  -webkit-animation-timing-function: steps(10);
          animation-timing-function: steps(10);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.butterfly1{
  background-image: url("./img/dfly.png");
  background-size: auto 100%; /* 나비크기 */
  background-repeat: no-repeat;
  width: 50px;
  height: 40px;
  will-change: background-position;
  -webkit-animation-name: fly-cycles;
          animation-name: fly-cycles;
  -webkit-animation-timing-function: steps(10);
          animation-timing-function: steps(10);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}


.butterfly1--one {
  -webkit-animation-duration: 1.1s;
          animation-duration: 1.1s;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.butterfly-container, .butterfly1-container{
  position: absolute;
  top: 20%;
  left: -10%;
  -webkit-transform: scale(0) translateX(-10vw);
          transform: scale(0) translateX(-10vw);
  
  -webkit-animation-name: fly-right-one1;
          animation-name: fly-right-one1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.butterfly1-container--one{
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-delay: -5.25s;
          animation-delay: -5.25s;
}


@-webkit-keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}
   

  @-webkit-keyframes fly-right-one1 {
  0% {
    -webkit-transform: scale(0.3) translateX(110vw);
            transform: scale(0.3) translateX(110vw);
  }
  10% {
    -webkit-transform: translateY(102vh) translateX(110vw) scale(0.4);
            transform: translateY(102vh) translateX(110vw) scale(0.4);
  }
  20% {
    -webkit-transform: translateY(0vh) translateX(30vw) scale(0.5);
            transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30% {
    -webkit-transform: translateY(4vh) translateX(50vw) scale(0.6);
            transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  40% {
    -webkit-transform: translateY(1020vh) translateX(70vw) scale(0.6);
            transform: translateY(1020vh) translateX(70vw) scale(0.6);
  }
  50% {
    -webkit-transform: translateY(0vh) translateX(90vw) scale(0.6);
            transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60% {
    -webkit-transform: translateY(0vh) translateX(10vw) scale(0.6);
            transform: translateY(0vh) translateX(10vw) scale(0.6);
  }
  100% {
    -webkit-transform: translateY(0vh) translateX(-10vw) scale(0.6);
            transform: translateY(0vh) translateX(-10vw) scale(0.6);
  }
}
@keyframes fly-right-one1 {
  0% {
    -webkit-transform: scale(0.3) translateX(-10vw);
            transform: scale(0.3) translateX(-10vw);
  }
  10% {
    -webkit-transform: translateY(2vh) translateX(110vw) scale(0.4);
            transform: translateY(2vh) translateX(110vw) scale(0.4);
  }
  20% {
    -webkit-transform: translateY(0vh) translateX(30vw) scale(0.5);
            transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30% {
    -webkit-transform: translateY(34vh) translateX(50vw) scale(0.6);
            transform: translateY(34vh) translateX(50vw) scale(0.6);
  }
  40% {
    -webkit-transform: translateY(2vh) translateX(70vw) scale(0.6);
            transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  50% {
    -webkit-transform: translateY(0vh) translateX(90vw) scale(0.6);
            transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60% {
    -webkit-transform: translateY(25vh) translateX(110vw) scale(0.6);
            transform: translateY(25vh) translateX(110vw) scale(0.6);
  }
  100% {
    -webkit-transform: translateY(0vh) translateX(-10vw) scale(0.6);
            transform: translateY(0vh) translateX(-10vw) scale(0.6);
  }
}

}